.UserDitails
  .users-ditails
    .users-ditails__profile
      .users-ditails__profile__user-photo
      .users-ditails__profile__user-name
        空条 承太郎
      .users-ditails__profile__trade-score
        .sell-title
          出品数
        .sell-count
          25      
        .buy-title
          購入数
        .buy-count
          15
    .users-ditails__introduction
  .social-media-box
    %ul.social-media-items
      %li.face.book
        フェイスブック
      %li.twitter
        ツイッター
      %li.LINE
        ライン
