.confirmation
  .confirmation__title 購入内容の確認
  .confirmation__product
    .confirmation__product__image image
    .confirmation__product__textbox
      .product-name product1
      .product-price 1000¥
  .confirmation__payment-amount 支払い金額
  .confirmation__payment-how 支払い方法
  .confirmation__shipping-address 送り先
  %a{class: "confirmation__purchase-btn"} 購入する