.single-container
  .single-header
    = image_tag asset_path ("logo/logo.png")

  .single-container__buy-item-content
    %h2{class: "buy-head"}
      購入内容の確認
    .single-container__buy-item-content__buy-item
      .buy-item-image
        image
      .buy-item-detail
        .product-name
          product1
        .product-price
          ¥1000 (税込み) 送料込み
    .single-container__buy-item-content__payment-amount 
      %h2支払い金額
      .single-container__buy-item-content__payment-amount__box
        ¥1000
    .single-container__buy-item-content__payment-how
      .upper-contents
        %h2支払い方法
        %a 変更する
      .low-contents
        %p クレジットカード
        %p.card-info xxxxxxxxx
    .single-container__buy-item-content__shipping-address
      .upper-contents
        %h2送り先
        %a 変更する
      .low-contents
        %p.post-number 〒 999-9999
        %p.address 愛知県名古屋市
        %p.buyer 山田太郎
    %a{class: "single-container__buy-item-content__purchase-btn"}
      %h2{class: "purchase"}
        購入する