* {
  box-sizing: border-box;
}


.Header {
  height: 110px;
  padding: 0 60px;
  .HeaderInner {
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;
    .HeaderMain {
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      &__logo img{
        height: 40px;
        width: 141px;
        margin: 5px 30px 0 0;
      }
      &__search-box {
        height: 36px;
        width: calc(100% - 171px);
        position: relative;
        .search-input {
          height: 36px;
          width: calc(100% - 36px);
          color: rgb(124, 124, 124);
          border: solid thin rgb(202, 201, 201);
          line-height: 36px;
          padding-left: 5px;
          position: absolute;
        }
          .search-btn {
            background-color: #3CCACE;
            height: 36px;
            width: 36px;
            color: #3CCACE;
            position: absolute;
            top: 0;
            right: 0;
            opacity: 0;
            z-index: 2;
          }
          .search-icon img {
            height: 20px;
            width: 20px;
            position: absolute;
            top: 8px;
            right: 8px;
            z-index: 1;
          }
          .search-btn_back {
            background-color: #3CCACE;
            height: 36px;
            width: 36px;
            color: #3CCACE;
            position: absolute;
            top: 0;
            right: 0;
          }  
      }
    }
    .HeaderNav {
      color: #333;
      font-size: 14px;
      margin: 10px 0;
      display: flex;
      justify-content: space-between;
        &__lists--left {
          display: flex;
          .list--left {
            margin-right: 46px;
          }
        }
        &__lists--right {
          display: flex;
          .list--left {
            margin-right: 46px;     
          }
        }
      }
    }

  }



.footer {
  padding: 60px 0;
  color: #fff;
  background-color: #2a2b2a;
  text-align: center;
  .contents {
    display: flex;
    justify-content: center;
    .content {
      margin: 0 70px;
      display: flex;
      flex-direction: column;
      &__head {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 20px;
      }
      &__list {
        font-size: 12px;
        li {
          margin-bottom: 15px;
        } 
        
      }
    }
    
  }
  .footer__logo {
    width: 100%;
    vertical-align: bottom;
    margin-top: 10px;
    img {
      height: 46px;
      width: 160px;
      vertical-align: bottom;
    }
  }
  p {
    font-size: 14px;
  }
  a { 
    color: #fff;
    text-decoration: none;
    &:hover {
      font-weight: bold;
    }
    .sell-btn {
      height: 120px;
      width: 120px;
      background: #3CCACE;
      text-align: center;
      border-radius: 4%;
      bottom: 32px;
      right: 32px;
      position: fixed;
      padding: 15px;
      img {
        margin-top: 5px;
        height: 54px;
        width: 54px;
      }
      &:hover {
        background: rgb(97, 217, 221);
      }
    }
  }  
}

.HeaderNav a {
  color: #333;
  text-decoration: none;
  font-size: 14px;
  margin: 10px 0;
  &:hover {
    color: rgb(250, 120, 44);
    font-weight: bold;
  }
}

.content a {
  color: #fff;
  text-decoration: none;
  &:hover {
    color: rgb(161, 160, 159);
    font-weight: bold;
  }
}