* {
  box-sizing: border-box;
}

body{
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  display: block;
}

.SearchView{
  background: #f8f8f8;
  &__result{
    padding: 80px 150px 40px;
    background-color: #f8f8f8;
    height: 100%;
    width: 100%;
    .head{
      text-align: center;
      font-size: 32px;
      line-height: 1.4;
      font-weight: bold;
    }
    .word {
      font-size: 20px;
      text-align: center;
      margin: 20px 0 60px;
    }
    .products{
      &__lists{
        width: 840px;
        margin: 26px auto;
        display: flex;
        // justify-content: space-evenly;
        flex-wrap: wrap;
        .list{
          width: 220px;
          display: inline-block;
          margin: 0 30px 20px;
          a{
            text-decoration: none;
            background-color: #fff;
            display: inline-block;
            .list-img{
              width: 220px;
              height: 150px;
              position: relative;
              overflow: hidden;
              margin: 0;
              z-index: auto;
              img{
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                width: 100%;
                z-index: auto;
                height: 150px;
                object-fit: contain;
              }
            }
            .list-body{
              background-color: white;
              color: #333;
              padding: 16px;
              .name{
                overflow: hidden;
                line-height: 1.5;
                font-size: 20px;
                text-align: left;
              }
              .details{
                font-size: 16px;
                ul{
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  // li{
                  //   i{
                    // FontAwesomeの設定を変更する際はここに記入
                  //   }
                  // }
                }
                p{
                  font-size: 10px;
                  text-align: left;
                }
              }
            }
          }
        }
      }
    }
  }
}

