*{
  box-sizing: border-box;
}

.main-product {
  background: #f8f8f8;
  .product-detail {
    padding: 40px;
    margin: 0 auto;
    &__main {
      width: 700px;
      margin: 0 auto;
      &__content {
        .detail-box {
          background-color: #fff;
          padding: 24px 40px 40px;
          .product-name {
            text-align: center;
            font-weight: bold;
            font-size: 24px;
          }
          .product-image {
            margin: 16px 0 0;
            width: 100%;
            ul {
              display: flex;
              position: relative;
              li {
                display: flex;
                flex-direction: column;
                width: 560px;
                align-items: center;
                margin: 0 auto;
                img.top-image {
                  object-fit: cover;
                  height: 346px;
                  max-width: 100%;
                }
                ul {
                  display: flex;
                  justify-content: space-between;
                  margin-top: 10px;
                  li {
                    width: 25%;
                    img.sub-image {
                      object-fit: cover;
                      height: 200px;
                      width: 200px;
                    }
                  }
                }
              }
            }
          }
          .product-price {
            margin: 24px 0 24px;
            text-align: center;
            display: flex;
            flex-direction: column;
            >span {
              font-size: 46px;
              font-weight: bold;
              margin: 0 10px 0 0;
            }
            &__cost {
              font-size: 16px;
              span {
              }
            }
          }
          .product-introduction {
            line-height: 1.5;
            font-size: 18px;
            margin-bottom: 30px;
          }
          .product-table {
            margin-bottom: 20px;
            table {
              width: 100%;
              height: 375px;
              border-collapse: collapse;
              border: 1px solid #f8f8f8;
              tbody {
                tr {
                  th {
                    width: 20%;
                    background-color: #eee;
                    font-weight: 400;
                    padding: 8px;
                    border: 1px solid #dedede;
                    font-size: 14px;
                    text-align: center;
                  }
                  td {
                    width: 61%;
                    padding: 15px 15px;
                    border: 1px solid #dedede;
                    font-size: 14px;
                    a {
                      text-decoration: none;
                      color: #3CCACE;
                    }
                  }
                }
              }
            }
          }
          .optional-area {
            display: flex;
            justify-content: space-between;
            ul {
              margin: 10px 0 0;
              display: flex;
              li#like-btn.optional-btn.like-btn {
                margin-right: auto;
                padding: 6px 10px;
                border-radius: 40px;
                color: #3CCACE;
                border: 1px solid #ffb340;
              }
            }
            ul {
              li.optinal-btn {
                font-size: 14px;
                a {
                  padding: 6px 10px;
                  display: inline-block;
                  border-radius: 4px;
                  color: #333;
                  border: 1px solid #333;
                  text-decoration: none;
                }
              }
            }
          }
          .edit-menu {
            .more {
              ul.more_list {
                display: flex;
                justify-content: space-around;
                margin-top: 20px;
                li {
                  color: #fff;
                  line-height: 48px;
                  width: 30%;
                  font-size: 18px;
                  border-radius: 100px;
                  text-align: center;
                  text-decoration: none;
                  a {
                    color: #fff;
                    text-decoration: none;
                  }
                }
                li.edit-btn {
                  background: #3CCACE;
                  border: 1px solid #3CCACE;
                }
                li.delete-btn {
                  background: #999999;
                  border: 1px solid #999999;
                }
              }
            }
          }
          .parcase-product{
            display: flex;
            justify-content: center;
            margin-top: 20px;
            .parcase-btn{
              background: #3CCACE;
              border: 1px solid #3CCACE;
              line-height: 60px;
              width: 100%;
              font-size: 18px;
              text-align: center;
              text-decoration: none;
              a{
                background: #3CCACE;
                border: 1px solid #3CCACE;
                color: #fff;
                text-decoration: none;
              }
            }
          }
        }
        .comment-box {
          padding: 24px;
          background-color: #fff;
          margin: 10px 0;
          text-align: center;
          ul.comment-contents {
            list-style: none;
          }
          .new-comment-form {
            #comment-body {
              width: 100%;
              min-height: 104px;
              padding: 10px;
            }
            .notice-message {
              padding: 8px;
              font-size: 14px;
              background-color: #f8f8f8;
              margin: 10px 0;
              text-align: left;
            }
            .comment-btn {
              font-size: 18px;
              line-height: 48px;
              background: #3CCACE;
              border: 1px solid #3CCACE;
              color: #fff;
              width: 60%;
              font-size: 18px;
              border-radius: 100px;
            }
          }
        }
      }
    }
    ul.links {
      li {
        float: left;
        a {
          text-decoration: none;
          color: #3CCACE;
        }
      }
      li:last-child {
        float: right;
      }
      &::after {
        display: block;
        content: "";
        clear: both;
      }
    }
    .relate-item {
      a {
        display: block;
        margin: 24px 0 8px;
        color: #3CCACE;
        text-decoration: none;
        font-weight: bold;
        font-size: 22px;
        position: relative;
      }
    }
  }
}