*{
  box-sizing: border-box;
}


.UserDitails {
  background-color: #f1f1f1;
  height: 100%;
  padding: 40px;
  .users-ditails {
    background-color: #ffffff;
    height: 100%;
    width: 700px;
    margin: 0 auto;
    &__profile {
      background-color: #e6e6e6;
      height: 320px;
      padding: 30px;
      &__user-photo {
        background-color: rgb(255, 247, 240);
        background-image: url(https://pics.prcm.jp/dona1118/82181124/png/82181124.png);
        background-size: 100%;
        height: 160px;
        width: 160px;
        margin-right: 40px;
        border: solid thin;
        border-radius: 50%;
        margin: 0 auto;
      }
      &__user-name {
        text-align: center;
        margin: 20px auto;
      }
      &__trade-score {
        text-align: center;
        display: flex;
        justify-content: center;
        .sell-title {
          font-size: 16px;
        }  
        .sell-count {
          font-size: 18px;
          margin-left: 15px;
          margin-right: 40px;
        }
        .buy-title {
          font-size: 16px;
          margin-right: 15px;
        }  
        .buy-count {
          font-size: 18px;
            
        }
      }
    }
    &__introduction {
      background-color: #ffffff;
      height: 620px;
      padding: 30px 50px 60px 50px;
    }
    
  }
}
.social-media-box {
  background-color: #ffe7e7;
  width: 700px;
  margin: 0 auto;
  .social-media-items {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    .face.book {
      margin: 0 20px;
    }
    .teitter {
      // margin: 0 20px;
    }
    .LINE {
      margin: 0 20px;
    }
  }  

}