*{
  box-sizing: border-box;
}

.MypageDisplay {
  background-color: #f1f1f1;
  height: 1200px; 
  .MypageContainer {
    margin: 0 auto;
    height: 1000px;
    width: 1020px;
    display: flex;
    .side-var {
      width: 280px;
      margin: 40px 40px 0 0;
      .mypage-nav { 
        &__list {
          &__item-top {
            background-color: #3CCACE;
            color: #ffffff;
            font-size: 16px;
            font-weight: bold;
            height: 48px;
            width: 100%;
            padding: 16px;
            &:hover {
              background-color: rgba(60, 201, 206, 0.514);
              font-weight: bold;
            }
          }  
          &__item {
            background-color: #ffffff;
            font-size: 14px;
            height: 48px;
            width: 100%;
            padding: 16px;
            border-bottom: solid thin #ebebeb;
            &:hover {
              background-color: #f8f8f8;
              color:#3CCACE;
              font-weight: bold;
            }
          }
          &__item-last {
            background-color: #ffffff;
            font-size: 14px;
            height: 48px;
            width: 100%;
            padding: 16px;
            &:hover {
              background-color: #f8f8f8;
              color:#3CCACE;
              font-weight: bold;
            }
          }
        }
        
        &__head {
          color: #3CCACE;
          font-weight: bold;
          font-size: 18px;
          height: 48px;
          width: 100%;
          margin-top: 30px;
          padding: 16px;

        }
      }  
    }
    .main-content {
      width: 700px;
      margin-top: 40px;
      .user-icon-box {
        background-color: #f4fffa;
        height: 200px;
        padding: 20px;
        display: flex;
        justify-content: center;
        .user-icon {
          background-color: #fff0f0;
          height: 160px;
          width: 160px;
          margin-right: 40px;
          border: solid thin;
          border-radius: 30%;
          img {
            height: 160px;
            width: 130px;
            display: block;
            margin: 0 auto;
          }
        }
        .trade-info {
          width: 300px;
          &__user-name {
            font-size: 24px;
            margin: 24px 0 30px 0;
            text-align: center;
          }
          &__count {
            padding: 10px;
            display: flex;
            justify-content: space-between;
            &__sell-title {
              font-size: 18px;
            }  
            &__sell-count {
              font-size: 20px;
              margin-right: 30px;
            }
            &__buy-title {
              font-size: 18px;
            }  
            &__buy-count {
              font-size: 20px;
                
            }
          }  
        }
      }
      .trade-tab { 
        display: flex;
      }  
      .trade-tab li {
        background-color: #3CCACE;
        height: 70px;
        width: 350px;
        color: #ffffff;
        font-size: 16px;
        font-weight: bold;
        line-height: 70px;
        text-align: center;
        cursor: pointer;
        transition: .3s;
        &:hover {
          opacity: 0.7;
        }
      }
      .trade-tab li.active {
        background-color: #ffffff;
        color: #3CCACE;
        cursor: auto;
      }
      .tab-area {
        background-color: #ffffff;
        .list-show {
          .item {
            height: 80px;
            padding: 16px;
            border-bottom: solid thin #ebebeb;
            &:hover {
              background-color: #f8f8f8;
              color:#3CCACE;
              font-weight: bold;
            }
          }
        }
      }      
      }
      .tab-area ul {
        display: none;
      }
      .tab-area ul.list-show {
        display: block;
      }
  }
}

.mypage-nav a {
  color: #222222;
  text-decoration: none;
}

.list-show a {
  color: #222222;
  text-decoration: none;
  line-height: 45px;
}  