.main-product
  .product-detail
    .product-detail__main
      .product-detail__main__content
        .detail-box
          .product-name 約束された勝利の剣(エクスカリバー)
          .product-image
            %ul
              %li
                %img{src: "https://www.aniplexplus.com/res/ytDaqD?w=510&h=510"}/
                -# %img{src: "assets/pict/pict-reason-01.jpg"}/
                %ul
                  %li
                    %img{src: "https://www.fate-sn.com/assets_hf3/img/special/countdown/HF3-countdown100_37.jpg"}/
                  %li
                    %img{src: "https://www.fate-sn.com/assets_hf3/img/special/countdown/HF3-countdown100_27.jpg"}/
                  %li
                    %img{src: "https://www.fate-sn.com/assets_hf3/img/special/countdown/HF3-countdown100_36.jpg"}/
          .product-price
            %span ￥1,000,000
            .product-price__cost
              %span (税別)
              %span Unlimited Blade Works
          .product-introduction 魔術師の名門で 遠坂家に育った凛は、亡き父への想いと共にアーチャーのサーヴァントを召喚し、聖杯戦争に参加する。しかしその矢先、彼女は同じ高校に通う衛宮士郎が戦いに巻き込まれたことに気づき、思いがけず瀕死の彼を助けてしまう。やがて彼女は、セイバーのサーヴァントを召喚した士郎と共に、聖杯戦争に仕組まれた大きな陰謀を打ち砕くべく戦うことにする。そして物語は、そんな士郎の魔術に秘められた謎と、頑なに「正義の味方」を目指そうとする彼の性質の真贋を問うものへと発展して・・・
          .product-table
            %table
              %tbody
                %tr
                  %th 出品者
                  %td 衛宮士郎
                %tr
                  %th カテゴリー
                  %td
                    %a(href = '#') 宝具
                    %br
                    %a(href = '#') 聖剣
                    %br
                    %a(href = '#') 全て遠き理想郷
                %tr
                  %th ブランド
                  %td TYPE-MOON
                %tr
                  %th 商品のサイズ
                  %td 115cm
                %tr
                  %th 商品の状態
                  %td 新品/未使用
                %tr
                  %th 配送料の負担
                  %td 着払い（購入者負担）
                %tr
                  %th 発送元の地域
                  %td
                    %a(href = '#') 冬木市
                %tr
                  %th 発送日の目安
                  %td 1-2日で発送
          .optional-area
            %ul
              %li#like-btn.optional-btn.like-btn
                -# %i.fa.fa-star
                ☆ お気に入り 0
            %ul.optional
              %li.optinal-btn
                %a
                  -# %li.fa.fa-flag
                  不適切な商品の通報
        .comment-box
          %ul.comment-contents
          %form.new-comment-form
            %textarea#comment-body
            %p.notice-message
              相手のことを考え丁寧なコメントを心がけましょう。
              %br
                不快な言葉遣いなどは利用制限や退会処分となることがあります。
            %br
            %button.comment-btn
              -# %li.fa.fa-comment
              コメントする
      %ul.links
        %li
          %a(href = '#')
            %span
            < 前の商品
        %li
          %a(href = '#')
            %span
            後ろの商品 >
      .relate-item
        %a(href = '#') メンズをもっと見る